@import "gtk-4-colors";

window,
dialog {
    &,
    &.unified,
    .unified &,
    &.ssd,
    .ssd &,
    &.solid-csd,
    .solid-csd &,
    .csd &:not(.popup):not(.tooltip):not(.message-dialog),
    &.csd:not(.popup):not(.tooltip):not(.message-dialog) {
        &,
        .maximized &,
        &.maximized,
        &.fullscreen,
        .fullscreen &,
        &.tiled,
        .tiled &,
        &.tiled-top,
        .tiled-top &,
        &.tiled-bottom,
        .tiled-bottom &,
        &.tiled-left,
        .tiled-left &,
        &.tiled-right,
        .tiled-right & {
            margin: 0;
            padding: 0;
            border: 0 solid transparent;
            border-image-width: 0;
            border-radius: 0;
            box-shadow: none;
            outline: 0 solid transparent;
            outline-offset: 0;

            transition-delay: 0s;
            transition-duration: 0s;
            transition-property: none;
            transition-timing-function: linear;
        }
    }

    .csd &:not(.popup):not(.tooltip):not(.message-dialog),
    &.csd:not(.popup):not(.tooltip):not(.message-dialog) {
        margin: -12px;
        min-width: 400px;
        min-height: 400px;
    }

    &.solid-csd,
    .solid-csd & {
        &,
        &.maximized,
        &.fullscreen,
        &.tiled,
        &.tiled-top,
        &.tiled-bottom,
        &.tiled-left,
        &.tiled-right {
            headerbar.titlebar,
            paned.titlebar,
            .titlebar,
            paned.titlebar headerbar {
                border-radius: 0 0 0 0;
            }
        }
    }
}
