@import "gtk-3-colors";

window,
dialog {
    &,
    &.background,
    &.unified,
    &.ssd,
    &.solid-csd,
    &.csd {
        &,
        .maximized &,
        .fullscreen &,
        .tiled & {
            &,
            decoration {
                margin: 0;
                padding: 0;
                border: 0 solid transparent;
                border-image-width: 0;
                border-radius: 0;
                box-shadow: none;
                outline: 0 solid transparent;
                outline-offset: 0;

                transition-delay: 0s;
                transition-duration: 0s;
                transition-property: none;
                transition-timing-function: linear;
            }

            headerbar.titlebar,
            paned.titlebar,
            .titlebar,
            paned.titlebar headerbar {
                border-radius: 0;
            }
        }
    }
}
