@import "gtk-colors";

window,
dialog {
    &,
    &.background,
    &.unified,
    &.ssd,
    &.solid-csd,
    &.csd {
        &,
        .fullscreen &,
        .maximized &,
        .tiled & {
            &,
            decoration, decoration:backdrop {
                margin: 0;
                padding: 0;
                border: 0 solid transparent;
                border-image-width: 0;
                border-radius: 0;
                box-shadow: none;
                outline: 0 solid transparent;
                outline-offset: 0;

                transition-delay: 0s;
                transition-duration: 0s;
                transition-property: none;
                transition-timing-function: linear;
            }

            headerbar.titlebar,
            paned.titlebar,
            .titlebar,
            paned.titlebar headerbar {
                border-radius: 0;
            }
            .titlebar:not(headerbar) {
                padding: 0;
                border-style: none;
                border-color: transparent;
            }
        }

        &.background:not(.tiled):not(.maximized) {
            .titlebar, .titlebar:backdrop {
                border-bottom-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
