* {
  text-shadow: none;
  opacity: 1;
}

window,
window decoration, .maximized window,
.maximized window decoration, .fullscreen window,
.fullscreen window decoration, .tiled window,
.tiled window decoration, window.background,
window.background decoration, .maximized window.background,
.maximized window.background decoration, .fullscreen window.background,
.fullscreen window.background decoration, .tiled window.background,
.tiled window.background decoration, window.unified,
window.unified decoration, .maximized window.unified,
.maximized window.unified decoration, .fullscreen window.unified,
.fullscreen window.unified decoration, .tiled window.unified,
.tiled window.unified decoration, window.ssd,
window.ssd decoration, .maximized window.ssd,
.maximized window.ssd decoration, .fullscreen window.ssd,
.fullscreen window.ssd decoration, .tiled window.ssd,
.tiled window.ssd decoration, window.solid-csd,
window.solid-csd decoration, .maximized window.solid-csd,
.maximized window.solid-csd decoration, .fullscreen window.solid-csd,
.fullscreen window.solid-csd decoration, .tiled window.solid-csd,
.tiled window.solid-csd decoration, window.csd,
window.csd decoration, .maximized window.csd,
.maximized window.csd decoration, .fullscreen window.csd,
.fullscreen window.csd decoration, .tiled window.csd,
.tiled window.csd decoration,
dialog,
dialog decoration, .maximized dialog,
.maximized dialog decoration, .fullscreen dialog,
.fullscreen dialog decoration, .tiled dialog,
.tiled dialog decoration,
dialog.background,
dialog.background decoration, .maximized dialog.background,
.maximized dialog.background decoration, .fullscreen dialog.background,
.fullscreen dialog.background decoration, .tiled dialog.background,
.tiled dialog.background decoration,
dialog.unified,
dialog.unified decoration, .maximized dialog.unified,
.maximized dialog.unified decoration, .fullscreen dialog.unified,
.fullscreen dialog.unified decoration, .tiled dialog.unified,
.tiled dialog.unified decoration,
dialog.ssd,
dialog.ssd decoration, .maximized dialog.ssd,
.maximized dialog.ssd decoration, .fullscreen dialog.ssd,
.fullscreen dialog.ssd decoration, .tiled dialog.ssd,
.tiled dialog.ssd decoration,
dialog.solid-csd,
dialog.solid-csd decoration, .maximized dialog.solid-csd,
.maximized dialog.solid-csd decoration, .fullscreen dialog.solid-csd,
.fullscreen dialog.solid-csd decoration, .tiled dialog.solid-csd,
.tiled dialog.solid-csd decoration,
dialog.csd,
dialog.csd decoration, .maximized dialog.csd,
.maximized dialog.csd decoration, .fullscreen dialog.csd,
.fullscreen dialog.csd decoration, .tiled dialog.csd,
.tiled dialog.csd decoration {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  border-image-width: 0;
  border-radius: 0;
  box-shadow: none;
  outline: 0 solid transparent;
  outline-offset: 0;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: linear;
}

window headerbar.titlebar,
window paned.titlebar,
window .titlebar,
window paned.titlebar headerbar, .maximized window headerbar.titlebar,
.maximized window paned.titlebar,
.maximized window .titlebar,
.maximized window paned.titlebar headerbar, .fullscreen window headerbar.titlebar,
.fullscreen window paned.titlebar,
.fullscreen window .titlebar,
.fullscreen window paned.titlebar headerbar, .tiled window headerbar.titlebar,
.tiled window paned.titlebar,
.tiled window .titlebar,
.tiled window paned.titlebar headerbar, window.background headerbar.titlebar,
window.background paned.titlebar,
window.background .titlebar,
window.background paned.titlebar headerbar, .maximized window.background headerbar.titlebar,
.maximized window.background paned.titlebar,
.maximized window.background .titlebar,
.maximized window.background paned.titlebar headerbar, .fullscreen window.background headerbar.titlebar,
.fullscreen window.background paned.titlebar,
.fullscreen window.background .titlebar,
.fullscreen window.background paned.titlebar headerbar, .tiled window.background headerbar.titlebar,
.tiled window.background paned.titlebar,
.tiled window.background .titlebar,
.tiled window.background paned.titlebar headerbar, window.unified headerbar.titlebar,
window.unified paned.titlebar,
window.unified .titlebar,
window.unified paned.titlebar headerbar, .maximized window.unified headerbar.titlebar,
.maximized window.unified paned.titlebar,
.maximized window.unified .titlebar,
.maximized window.unified paned.titlebar headerbar, .fullscreen window.unified headerbar.titlebar,
.fullscreen window.unified paned.titlebar,
.fullscreen window.unified .titlebar,
.fullscreen window.unified paned.titlebar headerbar, .tiled window.unified headerbar.titlebar,
.tiled window.unified paned.titlebar,
.tiled window.unified .titlebar,
.tiled window.unified paned.titlebar headerbar, window.ssd headerbar.titlebar,
window.ssd paned.titlebar,
window.ssd .titlebar,
window.ssd paned.titlebar headerbar, .maximized window.ssd headerbar.titlebar,
.maximized window.ssd paned.titlebar,
.maximized window.ssd .titlebar,
.maximized window.ssd paned.titlebar headerbar, .fullscreen window.ssd headerbar.titlebar,
.fullscreen window.ssd paned.titlebar,
.fullscreen window.ssd .titlebar,
.fullscreen window.ssd paned.titlebar headerbar, .tiled window.ssd headerbar.titlebar,
.tiled window.ssd paned.titlebar,
.tiled window.ssd .titlebar,
.tiled window.ssd paned.titlebar headerbar, window.solid-csd headerbar.titlebar,
window.solid-csd paned.titlebar,
window.solid-csd .titlebar,
window.solid-csd paned.titlebar headerbar, .maximized window.solid-csd headerbar.titlebar,
.maximized window.solid-csd paned.titlebar,
.maximized window.solid-csd .titlebar,
.maximized window.solid-csd paned.titlebar headerbar, .fullscreen window.solid-csd headerbar.titlebar,
.fullscreen window.solid-csd paned.titlebar,
.fullscreen window.solid-csd .titlebar,
.fullscreen window.solid-csd paned.titlebar headerbar, .tiled window.solid-csd headerbar.titlebar,
.tiled window.solid-csd paned.titlebar,
.tiled window.solid-csd .titlebar,
.tiled window.solid-csd paned.titlebar headerbar, window.csd headerbar.titlebar,
window.csd paned.titlebar,
window.csd .titlebar,
window.csd paned.titlebar headerbar, .maximized window.csd headerbar.titlebar,
.maximized window.csd paned.titlebar,
.maximized window.csd .titlebar,
.maximized window.csd paned.titlebar headerbar, .fullscreen window.csd headerbar.titlebar,
.fullscreen window.csd paned.titlebar,
.fullscreen window.csd .titlebar,
.fullscreen window.csd paned.titlebar headerbar, .tiled window.csd headerbar.titlebar,
.tiled window.csd paned.titlebar,
.tiled window.csd .titlebar,
.tiled window.csd paned.titlebar headerbar,
dialog headerbar.titlebar,
dialog paned.titlebar,
dialog .titlebar,
dialog paned.titlebar headerbar, .maximized dialog headerbar.titlebar,
.maximized dialog paned.titlebar,
.maximized dialog .titlebar,
.maximized dialog paned.titlebar headerbar, .fullscreen dialog headerbar.titlebar,
.fullscreen dialog paned.titlebar,
.fullscreen dialog .titlebar,
.fullscreen dialog paned.titlebar headerbar, .tiled dialog headerbar.titlebar,
.tiled dialog paned.titlebar,
.tiled dialog .titlebar,
.tiled dialog paned.titlebar headerbar,
dialog.background headerbar.titlebar,
dialog.background paned.titlebar,
dialog.background .titlebar,
dialog.background paned.titlebar headerbar, .maximized dialog.background headerbar.titlebar,
.maximized dialog.background paned.titlebar,
.maximized dialog.background .titlebar,
.maximized dialog.background paned.titlebar headerbar, .fullscreen dialog.background headerbar.titlebar,
.fullscreen dialog.background paned.titlebar,
.fullscreen dialog.background .titlebar,
.fullscreen dialog.background paned.titlebar headerbar, .tiled dialog.background headerbar.titlebar,
.tiled dialog.background paned.titlebar,
.tiled dialog.background .titlebar,
.tiled dialog.background paned.titlebar headerbar,
dialog.unified headerbar.titlebar,
dialog.unified paned.titlebar,
dialog.unified .titlebar,
dialog.unified paned.titlebar headerbar, .maximized dialog.unified headerbar.titlebar,
.maximized dialog.unified paned.titlebar,
.maximized dialog.unified .titlebar,
.maximized dialog.unified paned.titlebar headerbar, .fullscreen dialog.unified headerbar.titlebar,
.fullscreen dialog.unified paned.titlebar,
.fullscreen dialog.unified .titlebar,
.fullscreen dialog.unified paned.titlebar headerbar, .tiled dialog.unified headerbar.titlebar,
.tiled dialog.unified paned.titlebar,
.tiled dialog.unified .titlebar,
.tiled dialog.unified paned.titlebar headerbar,
dialog.ssd headerbar.titlebar,
dialog.ssd paned.titlebar,
dialog.ssd .titlebar,
dialog.ssd paned.titlebar headerbar, .maximized dialog.ssd headerbar.titlebar,
.maximized dialog.ssd paned.titlebar,
.maximized dialog.ssd .titlebar,
.maximized dialog.ssd paned.titlebar headerbar, .fullscreen dialog.ssd headerbar.titlebar,
.fullscreen dialog.ssd paned.titlebar,
.fullscreen dialog.ssd .titlebar,
.fullscreen dialog.ssd paned.titlebar headerbar, .tiled dialog.ssd headerbar.titlebar,
.tiled dialog.ssd paned.titlebar,
.tiled dialog.ssd .titlebar,
.tiled dialog.ssd paned.titlebar headerbar,
dialog.solid-csd headerbar.titlebar,
dialog.solid-csd paned.titlebar,
dialog.solid-csd .titlebar,
dialog.solid-csd paned.titlebar headerbar, .maximized dialog.solid-csd headerbar.titlebar,
.maximized dialog.solid-csd paned.titlebar,
.maximized dialog.solid-csd .titlebar,
.maximized dialog.solid-csd paned.titlebar headerbar, .fullscreen dialog.solid-csd headerbar.titlebar,
.fullscreen dialog.solid-csd paned.titlebar,
.fullscreen dialog.solid-csd .titlebar,
.fullscreen dialog.solid-csd paned.titlebar headerbar, .tiled dialog.solid-csd headerbar.titlebar,
.tiled dialog.solid-csd paned.titlebar,
.tiled dialog.solid-csd .titlebar,
.tiled dialog.solid-csd paned.titlebar headerbar,
dialog.csd headerbar.titlebar,
dialog.csd paned.titlebar,
dialog.csd .titlebar,
dialog.csd paned.titlebar headerbar, .maximized dialog.csd headerbar.titlebar,
.maximized dialog.csd paned.titlebar,
.maximized dialog.csd .titlebar,
.maximized dialog.csd paned.titlebar headerbar, .fullscreen dialog.csd headerbar.titlebar,
.fullscreen dialog.csd paned.titlebar,
.fullscreen dialog.csd .titlebar,
.fullscreen dialog.csd paned.titlebar headerbar, .tiled dialog.csd headerbar.titlebar,
.tiled dialog.csd paned.titlebar,
.tiled dialog.csd .titlebar,
.tiled dialog.csd paned.titlebar headerbar {
  border-radius: 0;
}
